{% extends "base.html" %}

{% block titulo %} Lista de usuarios {% endblock %}

{% block contenido_principal %}
<h2>
    <div class="container">
        <p  id="bienvenidaUser">Tus peticiones recibidas,  {{ usuario.nombre }}</p>
    </div>
</h2>

<h2>Peticiones: </h2>

<div class="row">
    <!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/tipos_de_rejillas.html -->
    <!-- Inicio del Bloque canción -->

    <table class="table table-hover" id="tablaUsuarios">
        <thead>
        <tr>
            <th>Emisor</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for peticion in peticiones %}
        <tr id="fila">
            <td >{{ peticion.emisor }}</td>
            {% if !peticion.aceptada %}
            <td><a id="btn{{user.email}}" href="/peticion/aceptar/{{peticion.emisor}}"
                   class="btn btn-primary">Aceptar a {{peticion.emisor}}</a>
            </td>
            {% else %}
            <td><a id="'btn' + {{user.email}}" href=""
                   class="btn btn-success">Aceptada</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>



</div>
{% endblock %}