{% extends "base.html" %}

{% block titulo %} Lista de usuarios {% endblock %}

{% block contenido_principal %}
<h2>
    <div class="container">
        <p  id="bienvenidaUser">Tus peticiones recibidas pendientes,  {{ usuario.nombre }}</p>
    </div>
</h2>

<h2>Peticiones: </h2>

<div class="row">
    <!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/tipos_de_rejillas.html -->
    <!-- Inicio del Bloque canción -->

    <table class="table table-hover" id="tablaUsuarios">
        <thead>
        <tr>
            <th>Emisor</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for peticion in peticiones %}
        {% if !peticion.aceptada %}
        <tr id="filaDe{{peticion.emisor}}">
            <td >{{ peticion.emisor }}</td>
            {% if !peticion.aceptada %}
            <td><a id="btn{{peticion.emisor}}" href="/peticion/aceptar/{{peticion.emisor}}"
                   class="btn btn-primary">Aceptar a {{peticion.emisor}}</a>
            </td>
            {% else %}
            <td><a id="'btn' + {{peticion.emisor}}aceptada" href=""
                   class="btn btn-success">Aceptada</a>
            </td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
    <div class="row text-center">
        <ul class="pagination">
            <!-- Primera -->
            <li class="page-item"><a class="page-link" href="/peticion/recibidas?pg=1">Primera</a></li>
            <!-- Anterior (si la hay ) -->
            {% if pgActual-1 >= 1 %}
            <li class="page-item"><a class="page-link" href="/peticion/recibidas?pg={{ pgActual -1 }}">{{ pgActual -1 }}</a></li>
            {% endif %}
            <!-- Actual  -->
            <li class="page-item active"><a class="page-link" href="/peticion/recibidas?pg={{ pgActual }}">{{ pgActual }}</a></li>
            <!-- Siguiente (si la hay)  -->         {% if pgActual+1 <= pgUltima %}
            <li class="page-item"><a class="page-link" href="/peticion/recibidas?pg={{ pgActual+1 }}">{{ pgActual+1 }}</a></li>
            {% endif %}                  <!-- Última -->
            <li class="page-item"><a class="page-link" href="/peticion/recibidas?pg={{ pgUltima }}">Última</a></li>
        </ul>
    </div>

</div>

{% endblock %}